


.profile-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 40rem;
    margin-left:  22rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.displayCol{
    display: flex;
    flex-direction: row;
}

.operation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 40rem;
    margin-left:  22rem;
    margin-bottom: 3rem;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.header h1 {
    margin: 1rem;
    font-size: 28px;
}

.admin-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.left-div {
    display: flex;
    padding : 1px;
}   

.left-div img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #555;
    margin-left: 3rem;
    margin-right: 3rem;
}

.right-div {
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}



.info {
    display: flex;
    flex-direction: column;
    align-items:start;

}

.info p {
    margin: 5px 0;
    line-height: 1.5;
}

.info strong {
    display: inline-block;
    width: 120px;
}

.button-container {
    display: flex;
    gap: 20px;
   
}

.heading2{
    padding: 1rem;
    text-align: center;
}

.admin-btn {
    padding: 10px 20px;
    background-color:  black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.admin-btn:hover{
    background-color: #000000;
}

.change-password {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #434646;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 2rem;
}
.change-password:hover {
    background-color: #000000;
}

