
.lists{
    margin-top: 2rem;
}

.filter-btn{
    box-shadow: 3px 2px #807e7e;
    background: #a7a2a2;
    color: white;
    width: 200px;
    border: 1px #615d5d solid;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: inset black;
}

.filter-btn:hover{
    background-color: rgb(94, 92, 92);
}