.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center; 
    padding: 5px;
}

.listItem ul{
    display: flex;
}

.listItem ul li{
    list-style:none;
    padding-top:20px;
    padding-right:30px; 
    padding-bottom:20px; 
    font-size: 20px;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
    color: rgb(172, 168, 168);
}

.logout-button {
 text-decoration: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background: #000;
}

.logout-button:hover{
    background-color: black;
    color: rgb(172, 168, 168);
}



  